@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(./assets/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
}
a {
    text-decoration: none;
    color: #ffffff;
}
body {
    min-width: 1020px;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    width: 1020px;
}

.singolo h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 1000;
    text-align: left;
    margin-left: 40px;
    margin-top: 41px;
    letter-spacing: 0.0001em;
}

.singolo .zvezda{
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 1000;
    margin-left: 1px;
    color: #f06c64;
}

.header {
    display: flex;
    background-color: #2d303a;
    margin: 0 auto;
    height: 90px;
    width: 1020px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: space-around;    
}

.active {
    color:#dc655f;
}
li:hover {
	color: #3a7999;
    background: rgba(0,0,0,0)
}

.home {
    margin-left: 408px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.services {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.portfolio {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.contact {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
} 

.about {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

li { 
    list-style-type: none;
   
    display: flex;
}

.singolo {
    display: flex;
}

.services:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
}

.portfolio:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
} 

.about:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
}   

.contact:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
}

.slider-left {
    display: flex;
    margin-top: 280px ;
    margin-left: 42px;
    opacity:0.5;
}

.slider-left:hover{
    opacity:1;
}

.slider-right:hover {
    opacity: 1;
}

.phone-vertical {
    display: flex;
    margin-left: 53px;
    position: relative;
    margin-top: 0px; 
    width: 250px;   
}

.phone-horizontal {
    display: flex;
    width:500px;
    margin-right: 100px;
}

.slider-right{
    display: flex;
    margin-top: 281px ;
    opacity:0.5;
}

.content {
    border-bottom: 5px solid #ea676b;
    width: 1020px;
    height: 595px;
    background-color: #f06c64;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}




.phone-base-vertical {
    right: 241px;
    top: -1px;
    height: 460px;
    z-index: 1;
}

.phone-layer-vertical {
    right: 445px;
    height: 340.8px;
    top: 60.6px;
    width: 192.7px;
    z-index: 2;
}

.phone-vertical IMG {
    position: relative;
}

.phone-horizontal IMG {
    position: relative;
}

.phone-shadow-horizontal {
    right: -64px;
    height: 240px;
}

.phone-base-horizontal {
    right:421px;
    
    height: 218px;
}

.phone-layer-horizontal {
    right: 821.3px;
    width: 349px;
    top: 14px;
    height: 191px;
    z-index: 2;
}

.footer {
    height: 200px;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 1020px;
}

.footer h2 {
    margin-top: 0px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 0px;
    padding-top: 68px;
}

.our-services-text { font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-left: 40px;
    margin-top: 27px;
}

.footer1 {
    display: flex;
    flex-wrap: wrap;
    height: 295px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
    margin: 0 auto;
    width: 1020px;
}

.custom-deign{
    display: flex;
    margin-left: 60px;
}

.inovative-ideas {
    display: flex;
    }

.love-is-the-answer {
    display: flex;
}

.responsive-layout {
    display: flex;
}

.a24-7-support {
    display: flex;
}

.feel-like-a-star {
    display: flex;
    height:137px;
    width:319px;;
}

.service-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    line-height: 1.75;
    text-align: justify;
    width: 220px;
    margin-left: 0;
    margin-top: 10px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 0;
}
.pen {
    right: 19px;
    top: 19px;
    position: relative;
}
.bulb {
    top: 19px;
    left: 20px;
    position: relative;
}

.inovative-ideas-text {
    margin-left: 40px;
}

.heart {
    top: 19px;
    left: 20px;
    position: relative;
}
.love-is-the-answer-text {
    margin-left: 40px;
}

.phone {
    top: 3px;
    left: 41px;
    position: relative;
}

.responsive-layout-text {
    margin-left: 60px;
    margin-top: -17px;
}

.buble {
    top: 3px;
    left: 20px;
    position: relative;
}

.a24-7-support-text {
    margin-left: 40px;
    margin-top: -17px;
}

.star {
    top: 3px;
    left: 21px;
    position: relative;
}

.feel-like-a-star-text {
    margin-left: 41px;
    margin-top: -17px;
}

.wrapper {
    margin: 0 auto;
    width: 1020px;
}


.portfolio1 h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 0px;
    padding-top: 69px;
    padding-left: 39px;
}

.portfolio1 p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding-left: 40px;
    padding-top: 7px;
    margin-bottom: 0;
    margin-right: 0px;
}

.portfolio1 {
    background-color: #2d303a;
}

.menu {
    display: flex;
    background-color: #2d303a;
}

.menu .all {
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    display: flex;
    padding-right: 6px;
    padding-left:6px;
    height: 20px;
    color: #dedede;
    font-family: "Lato";
    font-weight: 400;
    margin-left:41px;
    margin-bottom: 0px;
}

.menu p {
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    display: flex;
    height: 20px;
    font-size: 12px;
    line-height: 19px;
    font-family: "Lato";
    font-weight: 400;
    Margin-top: 11px;
    padding-left:6px;
    padding-right: 6px;
    margin-left:10px;
    padding-top:0px;
    color: #767e9e;
    margin-bottom: 0px;
}

.imgs {
    display: flex;
    background-color: #2d303a;;
    height: 687px;
    border-bottom: 6px solid #323746;
    flex-wrap: wrap;
    overflow: hidden;
}

.menu p:hover {
    color: #3a7999;
    background: rgba(0,0,0,0)
}

.menu .all:hover  {
    color: #3a7999;
    background: rgba(0,0,0,0)
}

.about-us-text {
    background-color:#f2f2f2;
    width: 1020px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 40px;
    margin-top: 0;
    padding-top: 65px;
    margin-bottom: 20px;
}

.p-about-us-text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    margin-top: 0px;
    margin-right: 0px;
    width: 980px;
    padding-left:40px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.photos {
    background-color: #f2f2f2;
    width: 1020px;
    margin: 0 auto;
}

.photo1 {
    margin-left: 40px;
    width: 300px;
    margin-top: 47px;
}

.photo2 {
    margin-left: 15px;
    width: 300px;
    margin-top: 47px;
}

.photo3 {
    margin-left: 17px;
    width: 300px;
    margin-top: 47px;
}

.about-peoples {
    display: flex;
    background-color: #f2f2f2;
    width: 1020px;
    margin: 0 auto;
}

.about-peoples h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    width: 300px;
}

.about-peoples p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.adam-jensen h3 {
    margin-left: 40px;
    margin-top: 13px;
    margin-bottom: 3px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.adam-jensen p {
    margin-top: 0px;
    width: 320px;
    padding-left: 40px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.desmond-miles h3 {
    margin-left: 0;
    margin-top:13px ;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.desmond-miles p {
    padding-left: 0 ;
    margin-top: 0px;
    margin-left: 0;
    width: 300px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.scolara-visari h3 {
    margin-left: 20px;
    margin-top: 13px;
    margin-bottom: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scolara-visari p {
    padding-left: 20px;
    margin-top: 0px;
    width: 320px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.links-part2 {
    background-color:#f2f2f2;
    height:126px;
    width: 1020px;
    margin: 0 auto;
}

.facebook-part2 {
    margin-top: 20px;
    margin-left: 40px;
    opacity: 0.6;
}

.facebook1-part2  {
    margin-top: 20px;
    margin-left: 165px;
    opacity: 0.6;
}  

.facebook2-part2  {
    margin-top: 20px;
    margin-left: 165px;
    opacity: 0.6;
}

.links1-part2  {
    opacity: 0.6;
}

.facebook-part2:hover {
    opacity: 1;
}

.facebook1-part2:hover {
    opacity: 1;
}
.facebook2-part2:hover {
    opacity: 1;
}

.links1-part2:hover {
    opacity: 1;
}

.wrapper {
    margin: 0 auto;
    width: 1020px;
}


.content-part-3 {
    height: 650px;
    background-color: #f06c64;
    border-bottom: solid 3.5px #ea676b;;
    margin: 0 auto;
    width: 1020px;
}

.get-a-quote h4 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    padding-top: 68px;
    margin-left: 39px;
    margin-bottom: 20px;
    margin-top:0px;
}

.content-part-3 p {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    margin-left: 40px;
    margin-top: 28px;

}

.footer2 {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    width: 1020px;
    margin: 0 auto;
}

.footer2 p {
    color: #666d89;
    font-family: "Lato";
    font-size: 12px;
    margin-left: 42px;
    margin-top: 34px;
}

.facebook {
    margin-left: 690px;
    height: 35px;
    margin-top: 22px;
}

.links { 
    margin-left: 5px;
    height: 35px;
    margin-top: 22px;
}

.forms {
    display: flex;
}
.form-name {
    width:605px;
    font-size: 12px;
    line-height: 35px;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    padding-left: 15px;
    margin-left: 40px;
    margin-top:26px;
    border-radius: 5px;
    color: #f08586
}

::-webkit-input-placeholder {
    color:  #f08586;
}


.form-email {
    width:605px;
    font-size: 12px;
    line-height: 35px;
    color: #f08586;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    padding-left: 15px;
    margin-left: 40px;
    margin-top:17px;
    border-radius: 5px;
}

textarea {
    width:603px;
    font-size: 12px;
    line-height: 33.5px;
    color: #f08586;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    padding-left: 15px;
    padding-top: 0px;
    margin-left: 40px;
    margin-top:17px;
    border-radius: 5px;
}

.contact-info h2 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 20px;
    margin-top: 26px;
    margin-bottom: 0px;
    padding-top: 0px
}

.contact-info p {
    height: 90px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 300px;
}

.facebook {
    opacity: 0.6;
}

.links {
    opacity: 0.6;
}

.footer2 .facebook:hover  {
    opacity: 1;
}

.footer2 .links:hover  {
    opacity: 1;
}

.location-tel-mail {
    display: flex;
    flex-wrap: wrap;
}

.location {
    height: 12px;
    position: relative;
    left: 23px;
    bottom: -23px;
}

.location-tel-mail .location-p {
    width: 300px;
    height: 20px;
    margin-left: 35px;
    margin-top: 18px;
}

.tel {
    height: 11px;
    position: relative;
    left: -321px;
    bottom: -41px;
}

.location-tel-mail .tel-p {
    width: 300px;
    height: 20px;
    margin-left: 43px;
    margin-top: 2px;
    
}

.mail {
    height: 8px;
    position: relative;
    left: -323px;
    bottom: -25px;
}

.location-tel-mail .mail-p {
    width: 300px;
    height: 20px;
    margin-left: 43px;
    margin-top: 1px;
}

.button {
    background-color: #d6564f;
    color: wheat;
    border: 0;
    border-radius: 3px;
    font-family: lato;
    margin-left: 590px;
    margin-top: 0px;
}
.hidden {
    display: none;
}

#message-block {
    position: fixed;
    background-color:#0008;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 1;
}
#message {
    background-color:  #d6564f;
    top: 50%;
    left: 50%;
    width: 25vw;
    height: 20vh;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    opacity: 80%;
    margin-top: 300px;
}

#close-btn{
    width: 10%;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}

#margin {
    margin: 0 auto;
    margin-top: 10px;
}

.border {
    border: 5px outset #F06C64; 
    height: 177px;
    width: 210px;
    
}

.box-shadow-tabs {
    box-shadow: 0 0 10px #F06C64;
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    max-height: 600px;
    overflow: hidden;
    margin-top: 18.5px;
  }
  
.portfolio__item {
    flex-shrink: 0;
    margin-bottom: 20px;
}

.order {
      order:1;
}

.slides {

}

.slide {
    height: 100%;
    display: none;
    position: absolute;
    animation: 2s ease-in-out;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.active,
.next {
    display: flex;
}
.next {
    position: absolute;
}

.slides{
    display: flex;
}
.control {
    cursor: pointer;
}

.arrow {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.to-left {
    animation-name: right;
  }
  
  .from-right {
    animation-name: left;
  }
  
  .to-right {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: right;
    animation-direction: reverse;
  }
  
  @keyframes left {
    from {
      left: -100%;
    }
    to {
      left: -0%;
    }
  }
  
  @keyframes right {
    from {
      left: 0%;
    }
    to {
      left: 100%;
    }
  }

  .control.left {
    left: 0;
    right: auto;
  }
  
  .control.right {
    right: 0;
    left: auto;
  }

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 594px;
    width: 1020px;
}

.allwrap1 {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    margin: 0;
}

.allwrap2 {
    border-bottom: 5px solid #ea676b;
    height: 595px;
    background-color: #f06c64;
    margin: 0;
}

.allwrap3 {
    margin: 0;
    height: 495px;
    background-color: #f2f2f2;
}

.wrapper-portfolio {
    margin: 0 auto;
    width: 1020px;
}

.allwrap4 {
    background-color: #2d303a;
    height: 864px;
    border-bottom: 6px solid #323746;
}

.allwrap5 {
    background-color: #f2f2f2;
    height: 730px;
    border-bottom: 6px solid #ffffff;
}
.allwrap6 {
    height: 650px;
    background-color: #f06c64;
    border-bottom: solid 3.5px #ea676b;
}

.allwrap7 {
    height: 76px;
    background-color: #2d303a;
}

.hide-layer {
    display: none;
}

.black-vertical-layer {
    position: relative;
    right: 576px;
    height: 365px;
    top: -2px;
    width: 186.5px;
    z-index: 1;
}

.layer-for-second-slider {
    z-index: 3;
}
