@font-face {
    font-family: Lato; /* Гарнитура шрифта */
    src: url(./assets/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
}
a {
    text-decoration: none;
    color: #ffffff;
}

.for-mobile-menu {
    display: none;
}

ul {
    display: flex;
    justify-content: space-around;    
}
body {
    min-width: 1020px;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0 auto;
    width: 1020px;
}

.singolo h1 {
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 1000;
    text-align: left;
    margin-left: 40px;
    margin-top: 41px;
    letter-spacing: 0.0001em;
}

.singolo .zvezda{
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 1000;
    margin-left: 1px;
    color: #f06c64;
}

.header {
    display: flex;
    background-color: #2d303a;
    margin: 0 auto;
    height: 90px;
    width: 1020px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-around;    
}

.active {
    color:#dc655f;
}
li:hover {
	color: #3a7999;
    background: rgba(0,0,0,0)
}

.home {
    margin-left: 408px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.services {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.portfolio {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

.contact {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
} 

.about {
    margin-left: px;
    margin-top: 30px;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

li { 
    list-style-type: none;
   
    display: flex;
}

.singolo {
    display: flex;
}

.services:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
}

.portfolio:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
} 

.about:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
}   

.contact:before {
    content: " ";
    background-color: #494e62;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 13px;
    margin-right: 14px;    
    vertical-align: middle;
}

.slider-left {
    display: flex;
    margin-top: 280px ;
    opacity:0.5;
}

.slider-left:hover{
    opacity:1;
}

.slider-right:hover {
    opacity: 1;
}

.phone-vertical {
    display: flex;
    margin-left: 53px;
    position: relative;
    margin-top: 0px; 
    width: 250px;   
}

.phone-horizontal {
    display: flex;
    width:500px;
    margin-right: 150px;
}

.slider-right{
    display: flex;
    margin-top: 281px ;
    opacity:0.5;
}

.content {
    border-bottom: 5px solid #ea676b;
    width: 1020px;
    height: 595px;
    background-color: #f06c64;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}




.phone-base-vertical {
    right: 241px;
    top: -1px;
    height: 460px;
    z-index: 1;
}

.phone-layer-vertical {
    right: 445px;
    height: 340.8px;
    top: 60.6px;
    width: 192.7px;
    z-index: 2;
}

.phone-vertical IMG {
    position: relative;
}

.phone-horizontal IMG {
    position: relative;
}

.phone-shadow-horizontal {
    right: -64px;
    height: 240px;
}
.phone-base-horizontal {
    right:421px;
    
    height: 218px;
}

.phone-layer-horizontal {
    right: 821.3px;
    width: 349px;
    top: 14px;
    height: 191px;
    z-index: 2;
}

.footer {
    height: 200px;
    background-color: #f2f2f2;
    margin: 0 auto;
    width: 1020px;
}

.footer h2 {
    margin-top: 0px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 0px;
    padding-top: 68px;
}

.our-services-text { font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin-left: 40px;
    margin-top: 27px;
}

.footer1 {
    display: flex;
    flex-wrap: wrap;
    height: 295px;
    background-color: #f2f2f2;
    border-bottom: 5px solid #ffffff;
    margin: 0 auto;
    width: 1020px;
}

.custom-deign{
    display: flex;
    margin-left: 60px;
}

.inovative-ideas {
    display: flex;
    }

.love-is-the-answer {
    display: flex;
}

.responsive-layout {
    display: flex;
}

.a24-7-support {
    display: flex;
}

.feel-like-a-star {
    display: flex;
    height:137px;
    width:319px;;
}

.service-description {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    line-height: 1.75;
    text-align: justify;
    width: 220px;
    margin-left: 0;
    margin-top: 10px;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 0;
}
.pen {
    right: 19px;
    top: 19px;
    position: relative;
}
.bulb {
    top: 19px;
    left: 20px;
    position: relative;
}

.inovative-ideas-text {
    margin-left: 40px;
}

.heart {
    top: 19px;
    left: 20px;
    position: relative;
}
.love-is-the-answer-text {
    margin-left: 40px;
}

.phone {
    top: 3px;
    left: 41px;
    position: relative;
}

.responsive-layout-text {
    margin-left: 60px;
    margin-top: -17px;
}

.buble {
    top: 3px;
    left: 20px;
    position: relative;
}


.contact-link {
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 21.6px;
    color: #f0d8d9;
    margin-left: 15px;
  }
  
  .contanct-img {
    margin-right: 11px;
    margin-left: 2px;
  }
.a24-7-support-text {
    margin-left: 40px;
    margin-top: -17px;
}

.star {
    top: 3px;
    left: 21px;
    position: relative;
}

.feel-like-a-star-text {
    margin-left: 41px;
    margin-top: -17px;
}

.wrapper {
    margin: 0 auto;
    width: 1020px;
}


.portfolio1 h1 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-top: 0px;
    padding-top: 69px;
    padding-left: 39px;
}

.portfolio1 p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    padding-left: 40px;
    padding-top: 7px;
    margin-bottom: 0;
    margin-right: 0px;
}

.portfolio1 {
    background-color: #2d303a;
}

.menu {
    display: flex;
    background-color: #2d303a;
}

.menu .all {
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    display: flex;
    padding-right: 6px;
    padding-left:6px;
    height: 20px;
    color: #dedede;
    font-family: "Lato";
    font-weight: 400;
    margin-left:41px;
    margin-bottom: 0px;
}

.menu p {
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    display: flex;
    height: 20px;
    font-size: 12px;
    line-height: 19px;
    font-family: "Lato";
    font-weight: 400;
    Margin-top: 11px;
    padding-left:6px;
    padding-right: 6px;
    margin-left:10px;
    padding-top:0px;
    color: #767e9e;
    margin-bottom: 0px;
}

.imgs {
    display: flex;
    background-color: #2d303a;;
    height: 687px;
    border-bottom: 6px solid #323746;
    flex-wrap: wrap;
    overflow: hidden;
}

.menu p:hover {
    color: #3a7999;
    background: rgba(0,0,0,0)
}

.menu .all:hover  {
    color: #3a7999;
    background: rgba(0,0,0,0)
}

.about-us-text {
    background-color:#f2f2f2;
    width: 1020px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 40px;
    margin-top: 0;
    padding-top: 65px;
    margin-bottom: 20px;
}

.p-about-us-text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    margin-top: 0px;
    margin-right: 0px;
    width: 980px;
    padding-left:40px;
    padding-top: 7px;
    margin-bottom: 0px;
}

.peoples-container {
    display: flex;
    width: 1020px;
    margin: 0 auto;
    margin-top: 50px;
    flex-wrap: wrap;

}

.peoples-container p {
    width: 300px;
    height: 66px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.peoples-container div {
    margin-left: 3%;
}

#peoples-links {
    margin-left: 0px;
}

.link-about:hover{
    opacity: 1;
}

.link-about {
    opacity: 0.6;
}

.wrapper {
    margin: 0 auto;
    width: 1020px;
}


.content-part-3 {
    height: 650px;
    background-color: #f06c64;
    border-bottom: solid 3.5px #ea676b;;
    margin: 0 auto;
    width: 1020px;
}

.get-a-quote h4 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    padding-top: 68px;
    margin-left: 39px;
    margin-bottom: 20px;
    margin-top:0px;
}

.content-part-3 p {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    margin-left: 40px;
    margin-top: 28px;

}

.footer2 {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    width: 1020px;
    margin: 0 auto;
}

.footer2 p {
    color: #666d89;
    font-family: "Lato";
    font-size: 12px;
    margin-left: 42px;
    margin-top: 34px;
}

.facebook {
    margin-left: 690px;
    height: 35px;
    margin-top: 22px;
}

.links { 
    margin-left: 5px;
    height: 35px;
    margin-top: 22px;
}

.forms {
    display: flex;
}
.form-name {
    width:605px;
    font-size: 12px;
    line-height: 35px;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    padding-left: 15px;
    margin-left: 40px;
    margin-top:26px;
    border-radius: 5px;
    color: #f08586
}

::-webkit-input-placeholder {
    color:  #f08586;
}


.form-email {
    width:605px;
    font-size: 12px;
    line-height: 35px;
    color: #f08586;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    padding-left: 15px;
    margin-left: 40px;
    margin-top:17px;
    border-radius: 5px;
}

textarea {
    width:603px;
    font-size: 12px;
    line-height: 33.5px;
    color: #f08586;
    font-family: "Lato";
    font-weight: 400;
    background-color: #d6564f;
    border: 0;
    padding-left: 15px;
    padding-top: 0px;
    margin-left: 40px;
    margin-top:17px;
    border-radius: 5px;
}

.contact-info h2 {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 20px;
    margin-top: 26px;
    margin-bottom: 0px;
    padding-top: 0px
}

.contact-info p {
    height: 90px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 300px;
}

.location-tel-mail {
    display: flex;
    flex-wrap: wrap;
}

.location {
    height: 12px;
    position: relative;
    left: 23px;
    bottom: -23px;
}

.location-tel-mail .location-p {
    width: 300px;
    height: 20px;
    margin-left: 35px;
    margin-top: 18px;
}

.tel {
    height: 11px;
    position: relative;
    left: -321px;
    bottom: -41px;
}

.location-tel-mail .tel-p {
    width: 300px;
    height: 20px;
    margin-left: 43px;
    margin-top: 2px;
    
}

.mail {
    height: 8px;
    position: relative;
    left: -323px;
    bottom: -25px;
}

.location-tel-mail .mail-p {
    width: 300px;
    height: 20px;
    margin-left: 43px;
    margin-top: 1px;
}

.facebook {
    opacity: 0.6;
}

.links {
    opacity: 0.6;
}

.footer2 .facebook:hover  {
    opacity: 1;
}

.footer2 .links:hover  {
    opacity: 1;
}

.location-tel-mail .location-p {
    width: 300px;
    height: 20px;
    margin-left: 35px;
    margin-top: 18px;
}


.location-tel-mail .tel-p {
    width: 300px;
    height: 20px;
    margin-left: 43px;
    margin-top: 2px;
    
}

.img-contact {
    display: block;
}

.location-tel-mail .mail-p {
    width: 300px;
    height: 20px;
    margin-left: 43px;
    margin-top: 1px;
}

.button {
    background-color: yellow;
    color: black;
    border: 0;
    border-radius: 3px;
    font-family: lato;
    margin-left:40px;
    margin-top: 0px;
    width: 89%;
    height: 7%;
    margin-top: 10px;
}
.hidden {
    display: none;
}

#message-block {
    position: fixed;
    background-color:#0008;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 1;
}
#message {
    background-color:  #d6564f;
    top: 50%;
    left: 50%;
    width: 40vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    opacity: 80%;
    margin-top: 300px;
    border-radius: 10px;
    border: 5px solid black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: keep-all;
    line-break: loose;;
}

#close-btn{
    width: 10%;
    height: 30px;
    text-align: center;
    margin: 0 auto;
}

#margin {
    margin: 0 auto;
    margin-top: 10px;
}

.border {
    border: 5px outset #F06C64; 
    height: 177px;
    width: 210px;
    
}

.box-shadow-tabs {
    box-shadow: 0 0 10px #F06C64;
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    max-height: 600px;
    overflow: hidden;
    margin-top: 18.5px;
  }
  
.portfolio__item {
    flex-shrink: 0;
    margin-bottom: 20px;
}

.order {
      order:1;
}

.slide {
    height: 100%;
    display: none;
    position: absolute;
    animation: 2s ease-in-out;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.active,
.next {
    display: flex;
}
.next {
    position: absolute;
}

.slides{
    display: flex;
}
.control {
    cursor: pointer;
}

.arrow {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.to-left {
    animation-name: right;
  }
  
  .from-right {
    animation-name: left;
  }
  
  .to-right {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .from-left {
    animation-name: right;
    animation-direction: reverse;
  }
  
  @keyframes left {
    from {
      left: -100%;
    }
    to {
      left: -0%;
    }
  }
  
  @keyframes right {
    from {
      left: 0%;
    }
    to {
      left: 100%;
    }
  }

  .control.left {
    left: 0;
    right: auto;
  }
  
  .control.right {
    right: 0;
    left: auto;
  }

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 594px;
    width: 1020px;
}

.allwrap1 {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.allwrap2 {
    border-bottom: 5px solid #ea676b;
    height: 595px;
    background-color: #f06c64;
    margin: 0;
}

.allwrap3 {
    margin: 0;
    height: 495px;
    background-color: #f2f2f2;
}

.wrapper-portfolio {
    margin: 0 auto;
    width: 1020px;
}

.allwrap4 {
    background-color: #2d303a;
    height: 864px;
    border-bottom: 6px solid #323746;
}

.allwrap5 {
    background-color: #f2f2f2;
    height: 730px;
    border-bottom: 6px solid #ffffff;
}
.allwrap6 {
    height: 650px;
    background-color: #f06c64;
    border-bottom: solid 3.5px #ea676b;
}

.allwrap7 {
    height: 76px;
    background-color: #2d303a;
}

.hide-layer {
    display: none;
}

.black-vertical-layer {
    position: relative;
    right: 576px;
    height: 365px;
    top: -2px;
    width: 186.5px;
    z-index: 1;
}

.layer-for-second-slider {
    z-index: 3;
}

.adam-jensen-photo {
    width: 100%;
}

.adam-jensen {
    width: 303px;
}

@media (max-width: 1019px) {
    body {
        min-width: 768px;
    }
    .header{
        width: 768px;
        margin: 0 auto;
    }

    .home {
        margin-left: 160px;
        font-size: 10px;
    }

    
    .services {
        font-size: 10px;
    }
    
    .portfolio {
        font-size: 10px;
    }
    
    .contact {
        font-size: 10px;
    } 
    
    .about {
        font-size: 10px;
    }

    .content{
        width: 768px;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }
    .slider {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    .phone-base-vertical {
        height: 360px;
        right: 190px;
    }

    .phone-shadow-vertical {
        height: 380px;
    }

    .phone-layer-vertical {
        height: 267.7px;
        width: 151.7px;
        top: 48px;
        right: 350px;
    }

    .allwrap2{
        height: 446px;
    }

    .phone-shadow-horizontal {
        right: 0;
        height: 188px;
    }
    .phone-base-horizontal {
        right:380px;
        height: 171px;
    }
    
    .phone-layer-horizontal {
        right: 694px;
        width: 262px;
        top: 11px;
        height: 149px;
        z-index: 2;
    }

    .slider-left {
        align-items: center;
        margin-top: 0;
    }

    .slider-right {
        align-items: center;
        margin-top: 0;
    }

    .allwrap3{
        height: 675px;
    }

    .footer {
        width: 768px;
    }

    .footer1 {
        width: 768px;
        height: 470px;
        border: 0;
    }

    .footer h2 {
        padding-top: 50px;
    }

    .custom-deign {
        margin-left: 40px;
    }

    .inovative-ideas {
        margin-left: 40px;
    }

    .heart{
        top: 10px;
    }

    .responsive-layout-text {
        margin-left: 80px;
        margin-top: 0px;
    }

    .feel-like-a-star-text {
        margin-left: 80px;
    }

    .buble {
        top: 0;
    }

    .phone {
        left: 60px;
        top: 10px;
    }

    .star {
        left: 63px;
        top: 0px;
    }

    .allwrap4 {
        height: 1095px;
    }

    .imgs {
        height: 925px;
    }

    .wrapper-portfolio {
        width: 768px;
    }

    .portfolio__gallery {
        display: grid;
        grid-template-rows: 187px 187px 187px 187px;
        grid-template-columns: 220px 220px 220px;
        grid-gap: 20px 20px;
        margin-top: 19px;
        max-height: 900px;
        overflow: visible;
        }

    .portfolio__image {
        width: 220px;
        height: 180px;
    }

    .portfolio1 p {
        max-width: 600px;
    }

    .about-us-text {
        margin: 0 auto;
        width: 90%;
        overflow-wrap: break-word;
    }


    .about-peoples {
        margin: 0 auto;
        width: 768px;
    }

    .links-part2 {
        margin: 0 auto;
        width: 768px;
    }

    .location-tel-mail {
        margin-left: 80px;
    }

    .p-about-us-text {
        max-width: 1000px;
        width: 90%;
        height: 100%;
        padding: 0 2.5vw 0 4vw;
        text-align: justify;
    }
    
    .peoples-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 2.5vw 0 4vw;
        width: 90%;
    }

    .adam-jensen {
        width: 28%;
        margin-top: 20px;
    }
    

    .desmond-miles {
        width: 28%;
        margin-top: 20px;
    } 
    
    .desmond-miles-photo {
        width: 100%;
    }

    .scolara-visari-photo {
        width: 100%;
    }

    .scolara-visari {
        width: 28%;
        margin-top: 20px;
    }

    .peoples-container p {
        width: 210px;
    }

    .content-part-3 {
        width: 100%
    }

    .forms {
        width: 100%;
    }

    .form1 {
        width: 55%;
    }

    .form-name {
        margin-top: 0;
        width: 100%;
    }
    .form-email {
        margin-top: 10px;
        width: 100%;
    }
    textarea {
        margin-top: 10px;
        width: 100%;
    }

    .button {
        width: 103%;
    }

    .contact-info{
        margin-left: 10px;
        width: 45%;
    }

    .contacts {
        list-style: none;
        padding: 0;
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        font-family: Lato, sans-serif;
        font-weight: 400;
    }
    
    .contacts li {
        position: relative;
    }
    
    .contacts li span {
        position: absolute;
        left: 24px;
    }
    
    .contacts a {
        position: absolute;
        left: 24px;
        text-decoration: none;
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        font-family: Lato, sans-serif;
        font-weight: 400;
    }

    .contact-info h2 {
        margin-top: 0;
        margin-left: 80px;
    }

    .contact-info p  {
        width: 70%;
        margin-left: 80px;
        height: 110px;
    }

    .contact-link {
        display: block;
        text-decoration: none;
        font-size: 12px;
        line-height: 21.6px;
        color: #f0d8d9;
        margin-left: 80px;
      }
      
      .contanct-img {
        margin-right: 11px;
        margin-left: 2px;
      }
      
    
    .allwrap5 {
        height: 663px;
        width: 100%;
    }

    .allwrap6 {
        height: 626px;
    }

    .footer2 {
        width: 100%;
    }

    .footer2 p {
    display: none;
    }

    .facebook {
        margin-left: 305px;
    }
}   

@media (max-width: 767px) {
 
    body {
        min-width: 375px;
    }
    .header {
        width: 375px;
        align-items: center;
        height: 65px;
    }

    ul {
        display: none;
    }
    .singolo {
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .singolo h1 {
       margin-left: 123px;
       font-size: 20px;
       margin-top: 23px;
    }

    .singolo .zvezda {
        font-size: 15px;
        margin-top: 16px;
    }

    .for-mobile-menu {
        display: flex;
        width: 25px;
        height: 20px;
        position: relative;
        top:3px;
        left: 19px;
    }

    .content {
        width: 375px;
    }

    .phone-vertical {
        width: 100px;
        height: 170px;
        margin-bottom: 240px;
        margin-left: 127px;
    }

    .phone-base-vertical {
        height: 100%;
        right: 190px;
        top:120px
    }

    .phone-shadow-vertical {
        height: 105%;
        right: 100px;
        top: 120px;
    }

    .phone-layer-vertical {
        height: 73%;
        width: 70%;
        top: 143px;
        right: 265px;
    }

    .phone-horizontal {
        width: 170px;
        height: 90px;
    }

    .phone-shadow-horizontal {
        right: 99px;
        height: 95%;
        bottom: -13px;;
    }
    .phone-base-horizontal {
        right:270px;
        height: 80px;
        width: 100%;
        bottom: -10px;
    }
    
    .phone-layer-horizontal {
        right:  418px;
        width: 73%;
        top: 15px;
        height: 78%;
    }

    .footer {
        height: 300px;
        width: 375px;
    }

    .footer1 {
        width: 375px;
        height: 728px;
    }

    .allwrap2 {
        height: 220px;
    }

    .allwrap3 {
        height: 1028px;
    }

    .footer h2 {
        margin-left: 30px;
    }

    .our-services-text {
        margin-left: 30px;
    }

    .pen{
        right: 17px;
        top: 12px;
    }

    .bulb {
        left: -10px;
        top: 12px;
    }

    .inovative-ideas-text {
        margin-left: 10px;
    }

    .heart{
        left: 32px;
        top: 12px;
    }

    .phone{
        left: 32px;
        top: 10px;
    }

    .responsive-layout-text{
        margin-left: 50px;
    }

    .buble {
        left: 32px;
        top: 10px;
    }

    .star{
        left: 32px;
        top: 18px;
    }

    .custom-deign{
        margin-left: 50px;
    }

    .love-is-the-answer-text {
        margin-left: 50px;
    }

    .a24-7-support-text {
        margin-left: 50px;
    }

    .feel-like-a-star-text{
        margin-left: 50px;
    }

    .wrapper-portfolio{
        width: 375px;
    }

    .portfolio1 h1 {
        padding-left: 30px;
    }

    .portfolio1 p {
        padding-left: 30px;
    }

    .menu .all{
        margin-left: 31px;
    }

    .portfolio__gallery{
        padding-left: 30px;
        grid-template-rows: 128px 128px 128px 128px;
        grid-template-columns: 151px 151px;
        grid-gap: 20px 20px;
        margin-top: 19px;
        max-height: 590px;
        overflow: visible;
    }

    .portfolio__image {
        width: 151px;
        height: 128px;
    }

    .allwrap4 {
        height: 840px;
        overflow: hidden;
    }


    .allwrap5 {
        height: Auto;

    }

    .peoples-container {
        margin: 0 auto;
        height: 100%;
    }

    .adam-jensen-photo {
        width: 96%;
    }

    .desmond-miles-photo {
        width: 96%;
    }

    .scolara-visari-photo {
        width: 96%;
    }

    .adam-jensen {
        width: 100%;
    }
    .desmond-miles {
        width: 100%;
    }

    .scolara-visari {
        width: 100%;
    }

    .peoples-container p {
        width: 320px;
    }


    h2 {
        padding-top: 30px;
    }

    .peoples-container p {
        margin-bottom: 10px;
        height: 50px;
        margin-top: 10px;
    }

    .desmond-miles {
        margin-top: 20px;
    }

    .scolara-visari {
        margin-top: 20px;
    }

    .allwrap6 {
        height: 960px;
    }


    .forms {
        flex-wrap: wrap;
    }


    .contact-info h2 {
        width: 300px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .contact-info p {
        width: 82%;
        margin-top: 10px;
        margin-left: 30px;
    }

    .form-name {
        margin-top: 0;
        width: 100%;
        margin-left: 30px;
    }
    .form-email {
        margin-top: 10px;
        width: 100%;
        margin-left: 30px;
    }
    textarea {
        margin-top: 10px;
        width: 100%;
        margin-left: 30px;
    }

    .button {
        margin-left: 30px;
    }

    .form1 {
        width: 80%;
    }

    .contact-info {
        width: 100%;
    }

    .contact-link {
        margin-left: 27px;
    }

    .facebook {
        margin-left: 30vw;
    }

    .content-part-3 {
        border: 0;
    }

    .peoples-container .div {
        margin-left: 10vw;
    }

    .content-part-3 p {
        width: 85%;
    }
}
